<div class="h-full w-full p-4">
  <div class="bg-base-200 rounded p-4">
    <div class="grid grid-cols-[45%_45%_10%] gap-2 items-center">

      <input type="text" placeholder="Type your message here..." class="input w-full" [(ngModel)]="enteredMessage" />

      <input type="file" class="file-input w-full" (change)="onFileSelected($event)" />

      <button class="btn btn-primary h-11 w-11 mx-2" (click)="sendMessage()">
        @if (sendingMessage) {
        <span class="loading loading-spinner loading-xl">Uploading</span>
        }
        @else {
        <i class="bi bi-send-fill"></i>
        }
      </button>

    </div>
    <p class="text-error italic my-2">
      <b>Error:</b> Something went wrong
    </p>
  </div>
</div>