<div *ngIf="chatroom" class="p-4 bg-base-200 rounded-lg h-full">
    <h1>{{ chatroom?.name || "" }}</h1>

    <fieldset class="fieldset">
        <select class="select" [(ngModel)]="selectedUserId">
            <option disabled [selected]="!selectedUserId">Specify Sender <span class="opacity-70 italic">(Optional)</span>
            </option>
            <option *ngFor="let user of chatroom?.participants" [value]="user">{{ user }}</option>
        </select>
    </fieldset>

    <button class="btn btn-primary w-full my-2" (click)="getSenderMessages()">Search Messages</button>

    <ul class="list">
        <li *ngFor="let message of messages" class="list-row">
            <div>
                <div class="flex items-center gap-2">
                    <span class="font-bold">{{ message.sender?.name }}</span>
                    <span class="text-sm text-gray-500">{{ message.timestamp | date: 'short' }}</span>
                </div>
                <p>{{ message.message }}</p>
            </div>
        </li>
    </ul>
</div>