<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Tailwind CSS chat bubble component"
        src="https://img.daisyui.com/images/profile/demo/anakeen@192.webp" />
    </div>
  </div>
  <div class="chat-header">
    You
    <time class="text-xs opacity-50">{{message()?.timestamp?.toLocaleTimeString()}}</time>
  </div>
  <div class="chat-bubble bg-blue-500 text-white">{{message()?.message}}</div>
  @if (message()?.image != null) {
  <img alt="Tailwind CSS chat bubble component" class="max-w-lg rounded-lg mt-2"
    src="https://i.pinimg.com/736x/d2/b0/8f/d2b08f165a3ce1e23d594a3093db996c.jpg" />
  }
</div>