<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="w-10 h-10 rounded-full bg-primary items-center flex justify-center">
      <i class="bi bi-person-fill"></i>
    </div>
  </div>
  <div class="chat-header">
    You
    <time class="text-xs opacity-50">{{message()?.timestamp}}</time>
  </div>
  <div class="chat-bubble bg-primary text-white">{{message()?.message}}</div>
  <!-- @if (message()?.image != null) {
  <img alt="Tailwind CSS chat bubble component" class="max-w-lg rounded-lg mt-2"
    [src]="message()?.image.url" />
  } -->
</div>